@CHARSET "ISO-8859-1";

html, body {
    font-family: Verdana, Geneva, sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background: #657383;
}

#container {
	max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 5px;
    background: #f0f0f0;
    border-radius: 15px;
}

/* ------------ Header Styles ----------- */
.header {
    flex: 1 100%;
    background: #347C17;
    border-radius: 15px;
    text-color: #000000;
    text-shadow: 1px 1px #85BB65;
    display: flex;
    flex-flow: row wrap;
}

#heading {
	text-indent: 20px;
    flex: 1 auto;
}

#search {
    flex: 1 auto;
    padding-top: 25px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    width: 100%; 
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #F1F1F1;
    background-color: #C0C0C0;
    border-radius: 8px;   
}

.menu ul {
	padding-left: 0px;
    list-style: none;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-indent: 0px;
}

.menu li {
    
}

.menu > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #000000;
}

.menu a:hover {
    
}

/* ------------ Body Styles ----------- */

a:link {
    color: #0099CC;
}

a:visited {
    color: #5588BB;
}

#content {
	flex: 1 100%;
    padding-bottom: 100px;
    background: #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
}

#content h2 {
    padding-left: 25px;
    margin-top: 0px;
    padding-top: 20px;
}

#content h4 {
    margin-bottom: 5px;
}

#home_container{
	flex: 1 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.home_box{
	flex: 1 auto;
}

#home_intro{
	max-width: 430px;
	padding-right: 20px;
}

.product_container {
    -moz-box-shadow:    3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow:         3px 3px 5px #ccc;
    margin-bottom: 10px;
    background: #89C35C;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.product_container > * {
	padding: 10px;
}

.product_image {
    padding-right: 30px;
}
.product_description {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.product_name {
	flex: 1 100%;
	padding-bottom: 20px;
}

.product_row2 {
	flex: 1 auto;
	padding-bottom: 20px;
}

.product_price {
	text-align: right;
}

.product_available {
	flex: 1 100%;
	text-align: right;
}

.add_product {
	color: #000080
}

.detail_link a {
	color: #000080
}

.detail_container {
	flex: 1 100%;
	display: flex;
	flex-flow: row wrap;
}

.detail_row1{
	flex: 1 auto;
}
.detail_image {
	padding: 20px;
}
.detail_product{
	padding: 20px;
}
.detail_name{
	font-weight: bold;
	font-size: large;
	padding-bottom: 30px;
}
.detail_desc{
	max-width: 600px;
}

.detail_row2{
	flex: 1 auto;
	margin-top: 50px;
	text-align: right;
	padding-right: 60px;
}
.detail_quant{
}
.detail_price{
}

.detail_add{
	flex: 1 100%;
	text-align: right;
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
	height: 45px;
}

.button{
	margin-right: 2px;
	margin-top: 2px;
	width: 200px;
	height: 40px;
	background: #347C17;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	box-shadow: 3px 2px 3px #89C35C;
	border-radius: 30px;
	font-size: large;
	text-shadow: 3px 2px 3px #89C35C;
}

.button:hover{
	margin-right: 0px;
	width: 203px;
	height: 43px;
	background: #254117;
}
.button:active{
	background: green;
	box-shadow: none;
}

.form{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex: 1 100%;
	font-size: large;
	font-weight: bold;
	margin-top: 30px;
}

.single_row{
	flex: 1 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.single_row > *{
	max-width: 350px;
}

.shared_row{
	flex: 1 auto;
	margin-bottom: 30px;
	height: 40px;
}

.regCb, .regCb > div{
	text-decoration: none;
	color: #000000;
}

.cbForm{
	padding: 0;
	margin-top: 0;
	height: 500px;
}

/* ------------ Footer Styles ----------- */

#footer {
	height: 50px;
	flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.line-separator {
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    flex: 1 100%;
}

.footnote {
    margin: auto;
    padding: 10px;
}

